[submodule "drupal"]
	path = drupal
	url = git://github.com/yviktorov/drupal.git
[submodule "dbscripts"]
	path = dbscripts
	url = git://github.com/ceardach/dbscripts.git
[submodule "drush"]
	path = drush
	url = git://git.koumbit.net/drupal/modules/drush
